/* div article section h1{
    font-size: 50px;
    color: blue;
} */
 /* div  h1{
    font-size: 50px;
    color: blue;
} */
  section h1{
    font-size: 50px;
    color: blue;
}

/* right approach */
/* div>article>section>p{
    color: red;
    background-color:blueviolet ;
} */

/* wrong approach */
div>section>p{
    color: red;
    background-color:blueviolet ;
}